@font-face {
    font-family: main;
    src: url(fonts/IBMPlexMono-Regular.ttf);
}

@font-face {
    font-family: bold;
    src: url(fonts/IBMPlexMono-Bold.ttf);
}

* {
    font-family: main;
}

body {
    background-color: #fafafa; /* slight off-white */
    color: #000;
    margin: 0;
}



a {
    text-decoration: none;
    color: black;
}
#socials {
    list-style: none;
    padding: 0;
    text-align: center;
    padding-top: 50px;

    margin-bottom: 300px;

}

#find{
    padding-bottom: 30px;
}
#socials li {
    display: inline-block; /* put list items side-by-side */
    margin: 0 10px;        /* space between items */
}

#footer{
    font-size: smaller;
    position: fixed;
    top: 90%;
    background-color: #fafafa56;
    backdrop-filter: blur(2px);

    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 30px;
}
.underline{
    text-decoration: underline;
}

#title{
    font-family: bold;
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
}

#container{
    width: 100vw;

}

#about{
    text-align: center;
    padding-top: 25%;

    margin-left: 20%;
    margin-right: 20%;
}

#downarrow {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: auto;

    margin-top: 45vh;
}
